{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  首页
{% endblock title %}

{% block content %}
<div class="container">
  <!-- 单词显示区 -->
  <div class="row">
    <div class="col-sm-8">
        <!-- main部分 列表 -->
        <div class="card mt-2">
          <div class="card-header">
            <h5>{{ book.title }}</h5>
          </div>
          <div class="card-body">
            <!-- <p class="card-text"><span class="badge badge-secondary">词性：&nbsp&nbsp{{ word.nature }}</span></p> -->
            <h6 class="card-title">作者：{{ book.author }}</h6>
            <p class="card-text">描述：&nbsp&nbsp{{ book.discription }}</p>
            <a href="" class="btn btn-primary">更多细节</a>
          </div>
        </div>
    </div>
  </div>
{% endblock content %}